*.md
!README.md

*.txt
!finalTest/verification/
!finalTest/verification/**
!finalTest/VM_COMMANDS.txt

image/*
!image/flowchart.png
!image/result/
!image/result/**
image/result/**/*.[Mm][Oo][Vv]
image/result/**/*.[Mm][Pp]4

report/*
testPi/*
